/* index.css */

/*  Global body styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #13314f; /* optional light gray background */
}

/*  Code block styles */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #29344b; /* optional subtle highlight */
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
}

/* Tailwind CSS imports - MUST be outside any CSS block */
@tailwind base;
@tailwind components;
@tailwind utilities;